# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
materials/lab/3/main/main
materials/lab/4/main/main
materials/lab/6/output/CARPER_CHECKSEARCH.HTML
materials/lab/6/output/CARPER_ALL_PRERESET.HTML
materials/lab/6/output/CARPER_CLEARSETCHECK.HTML
materials/lab/6/output/CARPER_CUSTOMREGEX.HTML
materials/lab/6/output/CARPER_FINAL.HTML
materials/lab/6/output/CARPER_ROOTCHECK.HTML
